@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary:#dd646e;
  --secondary:#3ecf8e;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base{
  body {
    font-family: Poppins;
  }
}
