@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./common.css";
@import "./font-family.css";
@import "./grid.css";
:root {
  --primary: #dd646e;
  --secondary: #3ecf8e;
  --bg_color:#edf1f4;
}
@layer base {
  body {
    font-family: Poppins;
  }
}
